<footer class="blockquote-footer">
  <cite title="Source Title"> Michael Hidalgo - 2018</cite> 
  <a href="#" id="js_up" class="boton-subir">
    <i class="fa fa-rocket" aria-hidden="true"></i>
  </a>
</footer>
   
