<header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <a  href="/"><h3>BlogCoding</h3></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor02">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-user-circle"></i>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/login">Sign in</a>
                    <a class="dropdown-item" href="/register">Create an account</a>
                  </div>
                </li>
            <!-- <li class="nav-item active">
              <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
            </li> -->
            <!-- <li class="nav-item">
              <a class="nav-link" href="#">Login/Register</a>
            </li> -->
            <form class="form-inline my-2 my-lg-0">
                <input id="search" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button id="btn-search" class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
              </form>

       
           
          </ul>
         
          
        </div>
        <div>
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link " href="#">CULTURE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">TECH</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">POLITICS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">DESING</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">SCIENCE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">POPULAR</a>
        </li> 
    </ul></div>
      </nav><br><br><br><br><br><br>
</header>